# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True

# Database Settings
DB_NAME=taskapp
DB_USER=postgres
DB_PASSWORD=Albin@8590301089
DB_HOST=localhost
DB_PORT=5432

# Redis Settings
REDIS_URL=redis://127.0.0.1:6379/1

# Hugging Face API Keys (for chatbot)
HUGGINGFACE_API_KEY=your-huggingface-api-key-here
HUGGINGFACE_READ_KEY=your-huggingface-read-key-here



